@{
    ViewData["Title"] = "Home Page";
}

<style>
    table {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    th {
        border: solid;
        min-width: 150px;
    }
    td {
        border: solid;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Seri Numarası</th>
            <th>Ürün Adı</th>
            <th>Açıklama</th>
            <th>Marka</th>
            <th>Yükseklik</th>
            <th>Genişlik</th>
            <th>Uzunluk</th>
            <th>Miktar</th>
            <th>Ort. Ağırlık</th>
            <th>Son Kullanma Tarihi</th>
            <th>Kalite</th>
            <th>Son Satın Alınan Fİyat</th>
            <th>Güncel Fİyat</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 10; i++)
        {
            <tr>
                <td>@i</td>
                <td>@i</td>
                <td>@i</td>
                <td>@i</td>
                <td>@i</td>
                <td>@i</td>
                <td>@i</td>
                <td>@i</td>
                <td>@i</td>
                <td>@i</td>
                <td>@i</td>
                <td>@i</td>
                <td>@i</td>
            </tr>
        }
    </tbody>
</table>
