
@model UserVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center">
    <div class="col-xl-10 mt-3">
        <div class="card card-plain bg-light border p-3">
            <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-info text-gradient">Kullanıcı Ekle</h3>
            </div>
            <div class="card-body">
                <form asp-area="User" asp-controller="User" asp-action="Register" method="post">
                    <div asp-validation-summary="ModelOnly"></div>

                    <!-- Error Message -->
                    @if (Html.ValidationMessageFor(msg => msg.ErrorMessage) != null)
                    {
                    <div class="mb-2 text-danger">
                    @Html.ValidationMessageFor(msg => msg.ErrorMessage)
                    </div>
                    }
                    <!-- Error Message -->

                    <!-- Password -->
                    <input asp-for="Password" type="hidden" class="form-control" value="Company_123">

                    <div class="row">
                        <!-- Identity Number -->
                        <div class="col-lg-6 mb-3">
                            @*<div class="mb-2 text-danger">
                            @Html.ValidationMessageFor(msg => msg.Email)
                            </div>*@
                            <label>Identity Number</label>
                            <input asp-for="IdentityNumber" type="text" class="form-control" placeholder="Identity Number">
                        </div>
                        <!-- Personel Mail -->
                        <div class="col-lg-6 mb-3">
                            @*<div class="mb-2 text-danger">
                            @Html.ValidationMessageFor(msg => msg.Email)
                            </div>*@
                            <label>Personal Mail</label>
                            <input asp-for="PersonelMail" type="email" class="form-control" placeholder="Personal Mail">
                        </div>
                    </div>

                    <div class="row">
                        <!-- First Name -->
                        <div class="col-lg-6 mb-3">
                            @*<div class="mb-2 text-danger">
                            @Html.ValidationMessageFor(msg => msg.Email)
                            </div>*@
                            <label>First Name</label>
                            <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name">
                        </div>

                        <!-- Last Name -->
                        <div class="col-lg-6 mb-3">
                            @*<div class="mb-2 text-danger">
                            @Html.ValidationMessageFor(msg => msg.Email)
                            </div>*@
                            <label>Last Name</label>
                            <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="mb-3">
                        @*<div class="mb-2 text-danger">
                        @Html.ValidationMessageFor(msg => msg.Email)
                        </div>*@
                        <label>Address</label>
                        <textarea asp-for="Address" type="text" class="form-control" placeholder="Address"></textarea>
                    </div>

                    <div class="row">
                        <!-- Phone -->
                        <div class="col-lg-6  mb-3">
                            @*<div class="mb-2 text-danger">
                            @Html.ValidationMessageFor(msg => msg.Email)
                            </div>*@
                            <label>Phone</label>
                            <input asp-for="PhoneNumber" type="number" class="form-control" placeholder="Phone Number">
                        </div>

                        <!-- Gender -->
                        <div class="col-lg-6 mb-3">
                            @*<div class="mb-2 text-danger">
                            @Html.ValidationMessageFor(msg => msg.Email)
                            </div>*@
                            <label>Gender</label>
                            <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control" placeholder="Gender">
                                <option>Seçin Yapınız...</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Birth Date -->
                        <div class="col-lg-6 mb-3">
                            @*<div class="mb-2 text-danger">
                            @Html.ValidationMessageFor(msg => msg.Email)
                            </div>*@
                            <label>Birth Date</label>
                            <input asp-for="BirthDate" type="date" class="form-control" placeholder="Birth Date">
                        </div>

                        <!-- Birth Location -->
                        <div class="col-lg-6 mb-3">
                            @*<div class="mb-2 text-danger">
                            @Html.ValidationMessageFor(msg => msg.Email)
                            </div>*@
                            <label>Birth Location</label>
                            <input asp-for="BirthLocation" type="text" class="form-control" placeholder="Birth Location">
                        </div>
                    </div>

                    <div class="row">
                        <!-- Job -->
                        <div class="col-lg-6 mb-3">
                            @*<div class="mb-2 text-danger">
                            @Html.ValidationMessageFor(msg => msg.Email)
                            </div>*@
                            <label>Job</label>
                            <input asp-for="Job" type="text" class="form-control" placeholder="Job">
                        </div>

                        <!-- Department -->
                        <div class="col-lg-6 mb-3">
                            @*<div class="mb-2 text-danger">
                            @Html.ValidationMessageFor(msg => msg.Email)
                            </div>*@
                            <label>Department</label>
                            <input asp-for="Department" type="text" class="form-control" placeholder="Department">
                        </div>
                    </div>

                    <div class="row">
                        <!-- Job Enter Date -->
                        <div class="col-lg-6 mb-3">
                            @*<div class="mb-2 text-danger">
                            @Html.ValidationMessageFor(msg => msg.Email)
                            </div>*@
                            <label>Job Enter Date</label>
                            <input asp-for="JobEnterDate" type="date" class="form-control" placeholder="Job Enter Date">
                        </div>

                        <!-- Job Exit Date-->
                        <div class="col-lg-6 mb-3">
                            @*<div class="mb-2 text-danger">
                            @Html.ValidationMessageFor(msg => msg.Email)
                            </div>*@
                            <label>Job Exit Date</label>
                            <input asp-for="JobExitDate" type="date" class="form-control" placeholder="Job Exit Date">
                        </div>
                    </div>

                    <div class="row">
                        <!-- Salary -->
                        <div class="col-lg-6 mb-3">
                            @*<div class="mb-2 text-danger">
                            @Html.ValidationMessageFor(msg => msg.Email)
                            </div>*@
                            <label>Salary</label>
                            <input asp-for="Salary" type="number" class="form-control" placeholder="Salary">
                        </div>

                        <!-- Role -->
                        <div class="col-lg-6 mb-3">
                            @*<div class="mb-2 text-danger">
                            @Html.ValidationMessageFor(msg => msg.Email)
                            </div>*@
                            <label>Role</label>
                            <input type="text" class="form-control" placeholder="Role">
                        </div>
                    </div>

                    <!-- Sign Up Button -->
                    <div class="text-center">
                        <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Sign up</button>
                    </div>
                    <!-- Sign Up Button -->

                </form>
            </div>
        </div>
    </div>
</div>
